*{padding: 0;margin: 0;box-sizing: border-box;}
a { text-decoration: none; color: #ffffff; }
ul { list-style: none; padding: 0; }
button { cursor: pointer; }
html { font-family: Arial, Helvetica, sans-serif; color: #dddddd; }
h1 { font-size: 60px; }
h2 { font-size: 45px; }
h3 { font-size: 25px; }
p { font-size: 16px; }

.main { position: sticky; top: 0; z-index: 10; }

/* .main {#1C0F2E,#0F0715} */
/* light { #8750f7} */

.container { max-width: 1200px; margin: auto; padding: 0 1rem; }
.row { display: flex; flex-flow: row wrap; }
.col-1{ flex-basis: 8.33%; max-width: 8.33%; }
.col-2{ flex-basis: 16.66%; max-width: 16.66%; }
.col-3{ flex-basis: 25%; max-width: 25%; }
.col-4{ flex-basis: 33.3336%; max-width: 33.3336%;}
.col-5{ flex-basis: 41.66%; max-width: 41.66%;}
.col-6{ flex-basis: 50%; max-width: 50%;}
.col-7{ flex-basis: 58.33%; max-width: 58.33%;}
.col-8{ flex-basis: 66.66%; max-width: 66.66%;}
.col-9{ flex-basis: 75%; max-width: 75%;}
.col-10{ flex-basis: 83.33%; max-width: 83.33%;}
.col-11{ flex-basis: 91.66%; max-width: 91.66%;}
.col-12{ flex-basis: 100%; max-width: 100%;}
.col-auto { flex-basis: 20%; max-width: 20%; }
.flex { display: flex; }
.justify-space-between { justify-content: space-between; }
.justify-center { justify-content: center; }
.align-center { align-items: center; }
img { width: 100%; }
.btn { padding: 10px 25px; color: #ffffff; border: none; border-radius: 20px; font-weight: 800; background-image: linear-gradient(to right, #8750f7, #7142d1, #5d34ac, #482789, #351b67); font-size: 15px; }
.btn:hover { background-image: linear-gradient(to left, #8750f7, #7142d1, #5d34ac, #482789, #351b67); }
.btn-2 { padding: 18px 35px; color: #8750f7; border: 1px solid #8750f7; border-radius: 50px; background-color: #0F0715; font-size: 15px; letter-spacing: 2px; }
.btn-2:hover { background-color: #8750f7; color: #ffffff; }

header { padding: 5px 0; background-image: linear-gradient(to right top, #0f0715, #14091b, #170c21, #190e28, #1c0f2e); }
.logo img { width: 45%; }
nav li { padding: 0 20px; } 
nav li a { padding-bottom: 5px; border-bottom: 1px solid #211238; font-weight: 600; }
nav li a:hover { border-color: #ffffff; }
.menu { display: none; }
.menu span { width: 30px; height: 4px; background: #cccccc; display: block; margin: 6px 10px; border-radius: 5px; }


.banner { background-image: linear-gradient(to right bottom, #0f0715, #13091a, #150b1e, #170c23, #190e28, #190e28, #190e28, #190e28, #170c23, #150b1e, #13091a, #0f0715); padding: 100px 0 50px 0; }
.banner h2 { font-size: 30px; }
.banner h1 { margin-top: 20px; }
.banner p { font-size: 20px; line-height: 30px; padding: 20px 100px 40px 0; }
.banner ul { display: inline-flex; margin-left: 20px; }
.banner ul li { margin: 0 10px; }
.banner ul li a { color: #8750f7; border: 1px solid #8750f7; width: 40px; height: 40px; border-radius: 50%; justify-content: center; align-items: center; display: flex; }
.banner ul li a:hover { color: #fff; background-color: #8750f7; }
.banner .banner-img { text-align: center; }
.banner .border { width: 70%; }
.banner .border img { border: 2px solid #8750f7; border-radius: 10%; }
.counter { margin-top: 50px; }
.number { font-size: 70px; font-weight: 600; display: inline; }
.text { font-size: 18px; padding: 15px 50px 15px 20px; line-height: 26px; } 

.services { background-color: #050709; padding: 100px 0 140px 0; text-align: center; }
.services .head h2 { margin: 50px 0 20px 0; }
.services .head-info p { padding-bottom: 50px; line-height: 25px;  }
.services .btn-3 { padding: 30px 0; color: #fff; line-height: 50px; border: none; border-bottom: 1px solid #8750f7; background-color: #050709; width: 100%; }
.services .btn-3:hover { background-image: linear-gradient(to right, #8750f7, #7142d1, #5d34ac, #482789, #351b67); }
.services .btn-3.active { background-image: linear-gradient(to right, #8750f7, #7142d1, #5d34ac, #482789, #351b67); }
.services .btn-3 h2 { font-size: 30px; text-align: left; }
.services .btn-3 p { text-align: left; line-height: 25px; padding: 0 30px; }
.services .btn-3 a { color: #fff; font-size: 30px; }
/* .services .btn-3 a i { transform: rotate(-90deg); transition-duration: 0.5s; } */

.recent-work { background-image: radial-gradient(circle, #271541, #211335, #1c112a, #170c1f, #0f0715);  padding: 100px 0; text-align: center; }
.recent-work .head h2 { margin: 10px 0 20px 0; }
.recent-work .head-info p { padding-bottom: 50px; line-height: 25px;  }
.recent-work .button { background-color: #040609;  height: 100%; width: 35%; border-radius: 50px; }
.btn-4 { padding: 12px 30px; color: #ffffff; border: none; border-radius: 20px; font-weight: 600; background-color: #040609; font-size: 15px; }
.btn-4.active { padding: 12px 30px; color: #ffffff; border: none; border-radius: 20px; font-weight: 600; background-image: linear-gradient(to right, #8750f7, #7142d1, #5d34ac, #482789, #351b67); font-size: 15px; }
.recent-work .my-work { width: 90%; height: 440px; border: 35px solid #0F0715; border-radius: 20px; border-bottom: none; margin-top: 50px; }
/* .recent-work .work-banner { margin-top: 50px; } */
.recent-work .open-page { position: relative; }
.recent-work .open-page a { display: contents; }
.recent-work .open-page a .page-intro { text-align: left; padding: 15px 20px; color: #fff; line-height: 40px; border: none; border-bottom: 1px solid #8750f7; border-radius: 15px; background-image: linear-gradient(to right, #8750f7, #7142d1, #5d34ac, #482789, #351b67); position: absolute; bottom: 5%; opacity: 0; width: 82%; }
.recent-work .open-page a .page-intro h2 { font-size: 30px; }
.recent-work .open-page a .page-intro i { font-size: 30px; }
.recent-work .open-page a .page-intro .box { margin-right: 110px; }
.recent-work .open-page a:hover .page-intro { opacity: 1; }

.about-me { background-color: #050709; }
.about-me .head { margin: 100px 0 0 0; }
.about-me .my-info { text-align: left; padding: 15px 20px; color: #fff; line-height: 40px; border-radius: 15px; background-color: #140c1c; width: 82%; margin: 50px 0; }
.about-me .my-info h3 { color: #8750f7; }
.about-me .my-info h2 { font-size: 25px; text-transform: uppercase; }
/* .about-me .my-info .box { margin-right: 110px; } */
.about-me .my-info:hover { cursor: pointer; background-image: linear-gradient(to right, #8750f7, #7142d1, #5d34ac, #482789, #351b67); }
.about-me .my-info:hover h3 { color: #fff; }

.my-skill { background-color: #0F0715; text-align: center; padding: 100px 0; }
.my-skill .head h2 { margin: 10px 0 20px 0; }
.my-skill .icon-box {line-height: 40px; margin: 50px 0px; }
.my-skill .icon-box a .skill { padding: 20px; width: 90%; background-color: #140c1c; border-radius: 15px; border: 1px solid #140c1c; }
.my-skill .icon-box a .skill:hover { background-color: #402870; border-color: #8750f7; }
.my-skill .icon-box a .skill i { color: #434754; font-size: 100px; }
.my-skill .icon-box a .skill p { color: #8750f7; }
.my-skill .icon-box a .skill:hover i { color: #fff; }
.my-skill .icon-box a .skill:hover p { color: #fff; }

.form { background-color: #050709; padding: 80px 0; }
/* .form .about-form p { padding: 0px 280px 50px 280px; } */
.form .form-info { text-align: left; padding: 40px; color: #fff; border-radius: 15px; background-color: #140c1c; width: 82%; margin: 50px 0; }
/* .form .form-info .head { margin: 30px 0 0 0; } */
.form .form-info .about-form p { margin: 20px 0 40px 0; line-height: 25px; }
.form .form-info .form-detail { display: flex; flex-wrap: wrap; justify-content: space-between; }
.form .form-info input { padding: 15px; font-size: 16px; margin: 15px 0px 0 0; border-radius: 8px; background-color: #050709; border: 1px solid #22272c; color: #fff; width: 47%; }
.form .form-info input:focus { outline: 1px solid #8750f7; }
.form .form-info select { padding: 12px; font-size: 16px; margin: 15px 0 0 0; border-radius: 8px; background-color: #050709; border: 1px solid #22272c;  color: #fff; width: 100%; }
.form .form-info select option { background-color: #fff; color: #000; width: 60%; }
.form .form-info select option:nth-child(1) { font-weight: bolder; }
.form .form-info textarea { padding: 15px; font-size: 16px; margin: 15px 0px 0 0; border-radius: 8px; background-color: #050709; border: 1px solid #22272c; color: #fff; width: 100%; height: 40vh; }
.form .form-info textarea:focus { outline: 1px solid #8750f7; }
.form .form-info .send-btn { margin-top: 20px; }

.contact-info { margin-top: 200px; }
.icon-circle { margin: 50px 0 50px 0; }
.icon-circle i { font-size: 25px; background-color: #8750f7; border-radius: 50px; width: 50px; height: 50px; display: flex; align-items: center; justify-content: center; align-self: center; }
.icon-circle .icon-info { margin-left: 20px; }
.icon-circle .icon-info h2 { font-size: 25px; margin-top: 5px; }

.footer { background-color: #14091c; padding: 50px 0 20px 0; }
.footer .bottom-nav { margin-top: 30px; }
.footer .reserved { margin-top: 10px; }
.footer .reserved p { color: #808080; margin-top: 20px; }
.footer .reserved p span { color: #fff; }
.footer .logo { text-align: center; }
.footer .logo img { width: 20%; }


@media screen and (max-width:1220px){
/* .logo img { width: 45%; } */
.recent-work .button { width: 42%; }
}

@media screen and (max-width:980px){
.col-m-1 { flex-basis: 8.33%; max-width: 8.33%; }
.col-m-2{ flex-basis: 16.66%; max-width: 16.66%; }
.col-m-9 { flex-basis: 75%; max-width: 75%; }
.col-m-3{ flex-basis: 25%; max-width: 25%; }
.col-m-12{ flex-basis: 100%; max-width: 100%; }
.logo img { width: 85%; }
nav li { padding: 0 15px; }
.banner p { padding-right: 0px; }
.banner ul { margin-top: 20px; margin-left: 0px; }
.recent-work .button { width: 50%; }
.my-skill .icon-box { margin-bottom: 0px; }
.form .form-info { width: 100%; }
.contact-info { margin-top: 0px; }
}

@media screen and (max-width:767px){
.col-d-1{ flex-basis: 8.33%; max-width: 8.33%; }
.col-d-6{ flex-basis: 50%; max-width: 50%;}
.col-d-9{ flex-basis: 75%; max-width: 75%;}
.col-d-10{ flex-basis: 83.33%; max-width: 83.33%;}
.col-d-2{ flex-basis: 16.66%; max-width: 16.66%; }
.col-d-4{ flex-basis: 33.3336%; max-width: 33.3336%;}
.logo img { width: 65%; }
.hire-btn { flex-direction: row-reverse; padding-right: 20px; }
.detail { flex-wrap: wrap; }
.services .btn-3 p { padding-left: 60px; }
.col-d-12{ flex-basis: 100%; max-width: 100%; }
.menu { display: block; }
header .nav-bar .collapse nav ul { position: absolute; top: -330px; right: 0px; display: block; background-color: #461769; width: 100%; z-index: -1; transition-duration: 0.5s; }
header .nav-bar .collapse nav ul li { padding: 20px 20px; } 
header .nav-bar { order: 2; flex-direction: row-reverse; }
header .nav-bar nav li a { font-size: 24px; }
.showNav { top: 80px!important; transition-duration: 0.5s; }
.about-me .experience .head { margin-top: 20px; }
.about-me .my-info { width: 100%; }
}

@media screen and (max-width:460px){
    .logo img { width: 65%; }
.col-s-12 { flex-basis: 100%; max-width: 100%; }
.col-s-10 { flex-basis: 83.33%; max-width: 83.33%;}
.col-s-8{ flex-basis: 66.66%; max-width: 66.66%;}
.col-s-9{ flex-basis: 75%; max-width: 75%;}
.col-s-3{ flex-basis: 25%; max-width: 25%; }
.col-s-6{ flex-basis: 50%; max-width: 50%;}
.banner { padding-top: 50px; }
.banner h1 { font-size: 45px; }
.banner .border { width: 80%; }
.banner .banner-intro { order: 1; padding-top: 50px; }
    /* .services .head-info p { padding: 0; } */
    .services { padding-top: 0px; padding-bottom: 40px; }
    .services .head h2 { font-size: 36px; }
    .services .btn-3 h2 { padding-left: 10px; }
    .services .btn-3 p { padding-left: 45px; padding-right: 0px; }
    .services .head-info p { padding-bottom: 10px; }
    .btn-4 { padding: 12px 20px; }
    .recent-work { padding: 50px 0; }
    .recent-work .button { width: 100%; }
    .recent-work .head h2 { font-size: 36px; }
    .form .form-info { padding: 50px 10px; }
    .about-me h2 { font-size: 36px; }
    .my-skill { padding: 50px 0; }
    .my-skill .head h2 { font-size: 36px; }
    .form { padding: 0; }
    .footer nav ul { justify-content: flex-start; flex-wrap: wrap; }
    .footer nav ul li { padding: 10px 20px; }
    
    /* .message-btn {  } */
}